body {
  background-color: black;
  color: white;
}

main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
}

img {
  width: 50%;
  height: auto;
}

.left {
  float: left;
  margin: 0 2em 2em 0;
}

.right {
  float: right;
  margin: 1em 0 2em 2em;
}

p {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h1 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 8em;
}

h3 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 4em
}

@media only screen and (max-width: 414px) {
  h1 {
    font-size: 5em;
  }
  h3 {
    font-size: 2.5em;
  }
  img {
    width: 100%;
    height: auto;
  }
}
